{{- if .Site.Params.widgets.search }}
<div style="background-color:#1C1C1C;" class="widget-search widget">
  <div style="margin:5px;">
    <h4 align="center" style="font-family: 'Quicksand', sans-serif; color:#FFFFFF">@carlogilmar</h4><br>
    <img src="https://avatars2.githubusercontent.com/u/17634377?v=3&u=516a44b9c2063faff245d977b3cadc91c571cfcb&s=400" width="40%" style="display:block;margin-left:auto;margin-right:auto;border-radius:150px;"/>
    <br>
    <p align="center" style="font-family: 'Quicksand', sans-serif; color:#FFFFFF">
      Estudié un rato <u>Sociología en la UNAM</u>, y también <u>Ingeniería Informática en el IPN</u>.
      Actualmente soy <u>desarrollador en Making Devs</u>.
    </p>
    <br>
    <hr>
    <br>
    <p align="center" style="font-family: 'Quicksand', sans-serif; color:#FFFFFF">
      I studied Sociology at UNAM, and also Computer Engineering at IPN. I am currently a developer at Making Devs.
    </p>
    <br>
  </div>
</div>
{{- end }}
