<nav class="menu" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
	<ul class="menu__list" style="margin: 2px auto;">

    <li class="menu__item"><a href="https://github.com/carlogilmar"><button style="margin:5px; padding: 10px 15px;" class="sharer button"><i class="fa fa-github-square fa-2x" aria-hidden="true"></a></i>
    </button></li>

    <li class="menu__item"><a href="https://trello.com/b/GjUP84Wz"><button style="margin:5px; padding: 10px 15px;" class="sharer button"><i class="fa fa-trello fa-2x" aria-hidden="true"></a></i>
    </button></li>


    <li class="menu__item"><button style="margin:5px; padding: 10px 15px;" class="sharer button" data-sharer="twitter" data-via="carlogilmar" data-picture="https://ellisonleao.github.io/sharer.js/img/socialbg.png" data-title="Great technology and programming blog!!!" data-url="http://carlogilmar.me/"> <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
    </button></li>

    <li class="menu__item"><button style="margin: 5px; padding: 10px 15px;" class="sharer button" data-sharer="facebook" data-url="http://carlogilmar.me/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></button></li>

    <li class="menu__item"><button style="margin: 5px; padding:10px 15px;" class="sharer button" data-sharer="googleplus" data-url="http://carlogilmar.me/"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></button></li>

	</ul>

  <h2 style="float:right; font-family: 'Quicksand', sans-serif; color:#FFFFFF; margin:10px;"> <i class="fa fa-rebel" aria-hidden="true"></i> &nbsp; ¡Bienvenido! </h3>

</nav>
